{{#each stories}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{content}}</p>
    <a class="btn btn-dark bt-block mb-2" href="/stories/edit/{{id}}">Edit</a>
   
    <form method="post" action="/stories/{{id}}?_method=DELETE">
        <input="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block " value="Delete">
    </form>
</div>
{{else}}
<p>no video</p>
{{/each}}